<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="cm" class="kr.co.itbank.mybatis.ConnectionManager" />
	
	<bean id="dao" class="kr.co.itbank.mybatis.MysqlDAO">
		<property name="cm" ref="cm" />
	</bean>

</beans>
