<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace=" ">
  	<select id="selectAll" resultType="DeptDto">
  		select * from dept
  	</select>
  	
  	<select id="selectOneByDeptno" resultType="DeptDto" parameterType="int">
  		select * from dept
  		where deptno = #{deptno}
  	</select>
  	
  	<insert id="insertOneByDept" parameterType="DeptDto">
  		insert into dept
  		values (#{deptno}, #{dname}, #{loc})
  	</insert>
  	
  	<update id="updateOneByDept" parameterType="DeptDto">
  		update dept
  		set dname=#{dname}, loc=#{loc}
  		where deptno = #{deptno}
  	</update>
  	
  	<delete id="deleteOneByDept" parameterType="int">
  		delet from dept
  		where deptno = #{deptno}	
  	</delete>
  	
  </mapper>