<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="bev" class="spring_app02.BeverageImp">
	<!-- 생성자 argument 추가 가능 -->
	<constructor-arg value="십전대보탕"></constructor-arg>
</bean>

</beans>
