<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="stopWatch" class="advice.CheckTime" />
	<bean id="cs" class="spring_aop05_around_advice.CustomerServiceImpl">
		<property name="name" value="이순신" />
		<property name="email" value="general@samgun.go.kr" />
	</bean>
	
	<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="cs" />
		<property name="interceptorNames">
			<value>stopWatch</value>
		</property>
	</bean>

</beans>
